<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
</head>
    <body>
    <h1>To Do App</h1>
    <h3>Welcome back {{request.user|title}}</h3>
    <hr>
    <p><a href="{% url 'create-task'%}">Add Task</a></p>
    <table>
        {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td><a href="{% url 'task' task.id %}">View</a></td>
                <td><a href="{% url 'update-task' task.id%}">Update</a></td>
                <td><a href="{% url 'delete-task' task.id%}">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
    <br>

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    </body>
</html>