{% extends 'tasks/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>


    {% if request.user.is_authenticated %}
    <a style="color: #1b1b1b" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="GET">
        <input type='text' name='search-area' placeholder="Search" value="{{search_input}}">
        <input class="btn btn-primary" style="margin-top: 5px;" type="submit" value="Search">
        <input class="btn btn-dark" style="margin-top: 5px;" type="submit" name='clear-area' value="Drop Search">
        {% if tasks|length > 0 %}
        <a id="add-link" href="{% url 'create-task' %}"><b>Add Task</b> &#9998;</a>
        {% endif %}
    </form>
</div>


<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            <div class="task-important-icon-wrapper">
                <div class="task-important-icon">
                    {% if task.important %}
                    <p>&#11088;</p>
                    {% endif %}
                </div>
        </div>
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'update-task' task.id %}">{{task|truncatewords:7}}</a></s></i>
            {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'update-task' task.id %}">{{task}}</a>
            {% endif %}
        </div>

        <div class="task-controls">
            <a class="delete-link" href="{% url 'delete-task' task.id %}">&#10007;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>



    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'create-task' %}">New task</a> !
        </h3>
    </div>
    {% endfor %}
</div>


{% endblock %}