body {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

h1, h2, h3, h4, h5, h6 {

}